
.app {
    overflow: hidden;
}

.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fd5f32,#f6422e);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: flex;
    align-items: center;
}


.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1.5px solid #FB9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.no-click{
    cursor: text;
    color: var(--white-color);
}

/* QR Code */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header__qr::before{
    content: "";
    width: 100%;
    height: 20px;
    left: 0;
    top: -20px;
    position: absolute;
    display: block;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img{
    height: 15px;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

/* Header noitify */

.header__noitify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNoitifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 2;
}

.header__navbar-item--has-noitify:hover .header__noitify{
    display: block;
}

.header__noitify::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0px;
    top: -28px;
    position: absolute;
}

.header__noitify::after{
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 20px;
    top: -15px;
    right: 0;
}

@keyframes headerNoitifyGrowth{
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__noitify-title{
    height: 40px;
    background-color: var(--white-color);
    
}

.header__noitify-title h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
}

.header__noitify-list{
    padding-left: 0;
    list-style: none;
}

.header__noitify-item{

}

.header__noitify-item:hover{
    background-color: #f0efef;
}

.header__noitify-item--viewed{
    background-color: rgba(238, 77, 45, 0.08);
}

.header__noitify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__noitify-img{
    width: 48px;
    object-fit: contain;
}

.header__noitify-info{
    margin-left: 12px;
}

.header__noitify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__noitify-descriotion{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__noitify-footer{
    display: flex;
}

.header__noitify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Has user */

.header__navbar-user{
    display: flex;
    align-items: center;
    position: relative;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.header__navbar-user-name{
    margin-left: 4px;
    font-weight: 400;
}

.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left: 0;
    width: 140px;
    background-color: var(--white-color);
    top: calc(100% + 4px);
    right: 0;
    list-style: none;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    display: none;
}

.header__navbar-user-menu::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -29px;
    right: 4px;
}

.header__navbar-user-menu::after{
    content: "";
    display: block;
    width: 65%;
    height: 15px;
    position: absolute;
    top: -10px;
    right: 0;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}   

.header__navbar-user-item{

}

.header__navbar-user-item a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    padding: 8px 16px;
    display: block;
}

.header__navbar-user-item a:hover{
    background-color: #F8F8F8;
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item--separate{
    border-top: 1px solid #EAEAEA;
}

/* Authen modal */
.auth-form{
    background-color: var(--white-color);
    border-radius: 5px;
    width: 500px;
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 400;
}

.auth-form__switch-btn{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
   margin-top: 32px;
}

.auth-form__policy-text{
   font-size: 1.2rem;
   line-height: 1.8rem;
   text-align: center;
   padding: 0 12px;
}

.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__controls--back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--fb{
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials--fb
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 36px;
}

.auth-form__socials--gg{
    background-color: var(--white-color);
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #989898;
}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: 0 16px;
}

.auth-form__fogot{
    color: var(--primary-color);
}

/* Header with search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 8px;
}

.header__mobie-search {
    padding: 0 8px;
    display: none;
}

.header__mobie-search-icon {
    font-size: 2.6rem;
    color: #fff;
}

.mb-btn {
    display: flex;
    align-items: center;
}

.header__logo{
    width: 200px;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

.header__logo-img{
    width: 150px;
}

.header__search{
    display: flex;
    flex: 1;
    border-radius: 2px;
    height: 40px;
    background-color: var(--white-color);
    align-items: center;
}



.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: 1.4rem;
    border: none;
    outline: none;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-lable{
    font-size: 1.6rem;
    color: var(--text-color);
}

.header__search-select-icon{
    font-size: 1.6rem;
    color: #747272;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn{
    height: 34px;
    width: 60px;
    background-color: var(--primary-color);
    border: none;
    margin-right: 3px;
    outline: none;
    border-radius: 2px;
}

.header__search-btn:hover{
    cursor: pointer;
    background-color: #f46245;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option{
    position: absolute;
    right: 0;
    width: 140px;
    top: 115%;
    padding-left: 0;
    box-shadow: 0 1px 2px #e0e0e0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option::before{
    content: "";
    display: block;
    height: 30px;
    width: 100%;
    position: absolute;
    top: -20px;
}

.header__search-option-item{
    list-style: none;
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover{
    cursor: pointer;
    background-color: #ccc;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 25px;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

/* Search history */

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    box-shadow: 0 1px 5px rgb(172, 170, 170);
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
    display: none;
    z-index: 1;
}

.header__search-history-heading{
    margin: 6px 12px;
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: text;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}


.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
    display: block;
}

/* header cart */

.header__cart{
    width: 150px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.header_cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-noite{
    position: absolute;
    top: -6px;
    right: -8px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 8px);
    right: -4px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header_cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    cursor: pointer;
    top: -27px;
    right: 3px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    
}

.header__cart-list--no-cart .header__cart-list-no-cart-img,
.header__cart-list--no-cart .header__no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header__cart-list--no-cart{
    padding: 24px 0;
    display: none;
}

.header__cart-list-no-cart-img{
    width: 54%;
    display: none;
}

.header__no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

/* Has cart */

.header__cart-heading{
    text-align: left;
    font-size: 1.4rem;
    margin: 8px 0 8px 12px;
    color: #999;
    font-weight: 400;
}

.header__cart-list-items{
    padding: 0;
    list-style: none;
    max-height: 55vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #F8F8F8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.header__cart_item-price-wrap{
}

.header__cart-item-name{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}

.header__cart-item-multiply{
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description{
    font-size: 1.2rem;
    color: #757575;
    font-weight: 400;
}

.header__cart-item-remote{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-item-remote:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-btn{
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-btn:hover{
    background-color: #F05D41;
}

.header__sort-bar {
    position: fixed;
    width: 100%;
    margin: 0;
    top: var(--header-height);
    list-style: none;
    text-align: center;
    align-items: center;
    background-color: #fff;
    padding-left: 0;
    box-shadow: 0 1px 1px #ccc;
    height: 36px;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    display: block;
    text-decoration: none;
    color: #333;
    height: 100%;
    line-height: 36px;
    font-size: 1.2rem;
    position: relative;
    font-weight: 450;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #ccc;
    transform: translateY(-50%);
}

.header__sort-link:first-child .header__sort-link::before {
    display: none;
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

/* mobie caregory  */

.header__mobie-category-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin: 0 10px;
    display: none;
}

.nav-mobie {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #FFF;
    z-index: 5;
    top: var(--header-height);
    width: 450px;
    max-width: 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform linear 0.3s, opacity linear 0.3s;
}

.mb-category__list {
    padding-left: 0;
    list-style: none;
    margin-top: 24px ;
    padding-left: 10px;
}

.header__category-checkbox:checked ~ .nav-mobie {
    transform: translateX(0%);
    opacity: 1;

}

.mb-category__item-link {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
}

.header__mobie-close {
    position: absolute;
    right: 20px;
    top: 10px;
    margin-bottom: 10px;
}

.header__mobie-close-icon {
    font-size: 2rem;
    font-weight: 450;

}

.hide {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 4;
    display: none;
}

.header__category-checkbox:checked ~ .overlay {
    display: block;
}

/* App container */

.app__container{
    margin-top: 0;
    background-color: #F5F5F5;
}

.app_content{
    padding-top: 36px;
}

.category{
    background-color: var(--white-color);
}

.category__heading{
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 16px 16px 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 450;
}

.category__heading-icon{
    font-size: 1.2rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item{
    position: relative;
}

.category-item::before{
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 8px;
    right: 16px;
}

.category-item:first-child:before{
    display: none;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link{
    position: relative;
    right: 0;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* mobie-category */

.mobie-category {
    display: none;
}

.mobie-category__list::-webkit-scrollbar {
    display: none;
}

.mobie-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}



.mobie-category__item {
    flex-shrink: 0;
    border-radius: 5px;
    margin-right: 10px;
}

.mobie-category__item:nth-last-of-type(3n + 1) {
    background-color: #87AFD8;
}

.mobie-category__item:nth-last-of-type(3n + 2) {
    background-color: #76B9BD;
}

.mobie-category__item:nth-last-of-type(3n + 3) {
    background-color: #88CF81;
}

.mobie-category__link {
    --line-height: 2rem;
    font-size: 1.4rem;
    display: block;
    text-decoration: none;
    color: #333;
    width: 110px;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 0 5px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}


/* column 10 */

.home-filter{
    display: flex;
    align-items: center;
    padding: 12px 22px;
    background-color: #ededed;
}

.home-filter__lable{
    font-size: 1.4rem;
    margin-right: 16px;
    color: #555;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}


.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-number{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 20px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__control{
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    width: 72px;
    height: 34px;
}


.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disable{
    background-color: #f9f9f9;   
    cursor: default;
}
.home-filter__page-btn--disable .home-filter__page-icon{
    color: #ccc;
}


.home-filter__page-btn:first-child{
    border-right: 1px solid #f3f3f3;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}


/* product item */

.home-product{
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);

}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: all ease-in 0.3s;
}

.home-product-item__name{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    margin: 10px 10px 6px;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    font-size: 1.4rem;
    color: #777;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;

}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0px;
}

.home-product-item__like{
    font-size: 1.2rem;
}

i.home-product-item__like-fill{
    color: red;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-fill{
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #D5D5D5;
    margin: -1px 0 0 auto;
}

.home-product-item--star-fill{
    color: #DDCE3E;
}

.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 4px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 10px;
}

.home-product-item__brand{

}

.home-product-item__country{

}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span{
    color: var(--white-color);
}

.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
    text-align: center;
}

.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);;
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__percent{
    font-size: 1.2rem;
    color: #EE4D2D;
    font-weight: 600;
    line-height: 1.2rem;
    position: relative;
    top: 2px
}

.home-product-item__lable{
    line-height: 1.4rem;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 600;
    position: relative;
    top: 2px;
}

/* pagination */

.home-product__pagination{
    margin: 48px 0 32px 0;
    padding-left: 0;
}

/* footer */

.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);

}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    font-size: 1.2rem;
    color: #737373;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.footer-item__link:hover{
    color: var(--primary-color);
}

.footer__item-icon {
    font-size: 1.2rem;
    margin: -2px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-img {
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--boder-color);
}

.footer__download-apps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.footer__download-app-img {
    height: 16px;
}

.footer__download-app-link{
    color: transparent;
    text-decoration: none;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #F5F5F5;
    margin-top: 36px;
}

.footer__text{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #757575;
}